body {
  background-color: #FFE7B3;
  font-family: "Open-Sans";
}
.beerLi{
  background-color: white;
  margin: 10px;
  height: 70px;
}
.beerLi p{
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
}
.container{
  width: 60%;
  margin: 0 auto;
}
